<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
  </head>
  <body>
    <h1>LogIn</h1>
    <form action="/images/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="image" required />
      <button type="submit">Upload Image</button>
    </form>
  </body>
</html>
